@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;1000&display=swap');

*{
	margin: 0;
	padding: 0;
}
.bg-prime{
	background: #0397D7;
}
.t_prime{
	color: #0397D7;
}
.logo_image{
	width: 200px;
}
.image_div{
	height: 800px;
	overflow: hidden;
}
.image_1{
	background-image: url("image/A1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.image_2{
	background-image: url("image/A2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.image_3{
	background-image: url("image/A4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.card_text{
	margin-left: -400px;
	left: 0%;
	height: 800px;	
	background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.8), rgba(0,0,0,.6), rgba(0,0,0,.5), rgba(0,0,0,.1));
}
.text_sml{
	margin-top: -30px;
	margin-left: -30px;
}
.text_sml_2{
	margin-top: -10px;
	margin-right: -30px;
}
.bg-sec{
	background: #999999;
}

.mission_cd{
	height: 150px;
	background-position: center; 
	background-repeat: no-repeat;
}
.support{
	height: 350px;
	border-top: 100px;
}
.ptrn_btn{
	padding-top: 10px;
	margin-bottom: 10px;
}
.text_overlay{
	padding-top: 350px;
	margin-bottom: 100px;
}
.ammbasidor{
	background: linear-gradient(to top, rgba(3,151,215,1), rgba(3,151,215,.9),rgba(3,151,215,.4), rgba(3,151,215,.2), rgba(3,151,215,.0));
	height: 500px;
	width: 330px;
}
.bg-prime_support{
	background: #12688E;
}
.partners_text{
	font-family: 'Nunito', sans-serif;
}
.icon{
	height: 50px;
	filter: invert(100%);
}
.icon_BTN{
	padding-top: 10px;
}
.next{
	padding-top: 250px;
}
.text_overlay_team{
	padding-top: 180px;
	background: linear-gradient(to top, rgba(3,151,215,1), rgba(3,151,215,.9),rgba(3,151,215,.4), rgba(3,151,215,.2), rgba(3,151,215,.0));
}
.member_card{
	margin-top: -6px;
	background-image: url('image/lowerthard.png');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	height: 300px;
	padding-bottom: 380px;
	padding-top: 50px;
}
.member-top-card{
	padding: 0px !important;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.team-area{
	width: 100%;
	padding: 15px;
	background-image: url('image/Co.png');
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat;
}
.divi{
	width: 100%;
	padding: 15px;
	background-image: url('image/Shape-(1).png');
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat;
}
.detail{
	height: 950px;
	overflow-y: scroll;
}
.container-div{
	width: 80%;
}
.div-img{
	width: 100px;
}